<div class="row">
  <div class="col-8">
    <div class="card form-boundry">
      <div class="card-header"><h3>List Your Property</h3></div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab
                heading="Basic info"
                ngModelGroup="BasicInfo"
                #BasicInfo="ngModelGroup"
              >
                <div class="form-group col-12">
                  <P>I Want To</P>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    ngModel
                    name="SellRent"
                    required
                  >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      role="button"
                    >
                      Sell
                    </label>
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      role="button"
                      name="SellRent"
                    >
                      Rent
                    </label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <P>BHK</P>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    [(ngModel)]="propertyView.BHK"
                    name="BHK"
                  >
                    <label
                      *ngFor="let bhk of ['1', '2', '3', '4', '5']"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bhk"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                    >
                      {{ bhk }}
                    </label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <P>Property Type</P>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    name="propType"
                    [(ngModel)]="propertyView.PType"
                  >
                    <label
                      *ngFor="let prop of PropertyTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="prop"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                    >
                      {{ prop }}
                    </label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <P>Furnished Type</P>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    [(ngModel)]="propertyView.FType"
                    name="FType"
                  >
                    <label
                      *ngFor="let furnish of FurnishTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="furnish"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                    >
                      {{ furnish }}
                    </label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="name">in Building/Society/Project</label>
                  <input
                    type="text"
                    class="form-control"
                    #propName="ngModel"
                    ngModel
                    name="name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.Name"
                  />
                  <span
                    *ngIf="!propName.valid && propName.touched"
                    class="error-block"
                  >
                    Please provide name
                  </span>
                </div>

                <!-- <div class="form-group col-12">
              <label for="type">Type</label>
              <input type="text" class="form-control" ngModel name="type" />
            </div> -->

                <div class="form-group col-12">
                  <label for="price">City</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-block button-save"
                    (click)="selectTab(1)"
                    [disabled]="!BasicInfo.valid"
                  >
                    Next
                  </button>
                </div></tab
              >
              <tab heading="Pricing and Area"
                >Pricing Information
                <div class="form-group col-12">
                  <label>Price (in USD)</label>
                  <input
                    type="text"
                    class="form-control"
                    name="price"
                    [(ngModel)]="propertyView.Price"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Security (in USD)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Maintenance (in USD)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="propertyView.BuiltArea"
                    name="BuiltArea"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" />
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                  (click)="selectTab(2)"
                >
                  Next
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                  (click)="selectTab(0)"
                >
                  Previous
                </button>
              </tab>
              <tab heading="Address"
                >Addreass Information
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" />
                </div>

                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                  (click)="selectTab(3)"
                >
                  Next
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                  (click)="selectTab(1)"
                >
                  Previous
                </button>
              </tab>
              <tab heading="Other details"
                >Other Details
                <div class="form-group col-12">
                  <P>Ready To Move</P>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let muv of ['yes', 'no']"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="muv"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                    >
                      {{ muv }}
                    </label>
                  </div>
                </div>

                <div class="form-group col-3">
                  <label>Possession/Avaialble From</label>
                  <input
                    type="text"
                    placeholder="Datepicker"
                    bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <P>Gated Community</P>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let gc of ['yes', 'no']"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="gc"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                    >
                      {{ gc }}
                    </label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <P>Main Entrance</P>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let entrns of ['East', 'West', 'North', 'South']"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="entrns"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                    >
                      {{ entrns }}
                    </label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    rows="6"
                  ></textarea>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                  (click)="selectTab(4)"
                >
                  Next
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                  (click)="selectTab(2)"
                >
                  Previous
                </button>
              </tab>
              <tab heading="Photo"
                >Upload Photo
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br />
                    This is under construction
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                  (click)="selectTab(3)"
                >
                  Previous
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-block button-save"
                >
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-secondary btn-block button-save"
                >
                  Cancel
                </button>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4 property-view">
    <div class="card-header">
      <h3>Your Form Priview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card
        [property]="propertyView"
        [hideIcons]="true"
      ></app-property-card>
    </div>
  </div>
</div>
