<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="userName"
            />
            <span
              *ngIf="!userName.valid && (userName.touched || userSubmitted)"
              class="error-block"
              >Please Provide Name</span
            >
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <span
              class="error-block"
              *ngIf="!email.valid && (email.touched || userSubmitted)"
            >
              <span *ngIf="email.hasError('required')">
                Please provide Email</span
              >
              <span *ngIf="email.hasError('email')">
                Please provide valid Email</span
              >
            </span>
          </div>

          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
            <span
              class="error-block"
              *ngIf="!password.valid && (password.touched || userSubmitted)"
            >
              <span *ngIf="password.hasError('required')">
                Please provide password</span
              >
              <span *ngIf="password.hasError('minlength')">
                Please should be of 8 charactr</span
              >
            </span>
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
            />
            <span
              class="error-block"
              *ngIf="
                !confirmPassword.valid &&
                (confirmPassword.touched || userSubmitted)
              "
            >
              <span *ngIf="confirmPassword.hasError('required')">
                Please Confirm password</span
              >
              <!-- <span *ngIf="password.hasError('minlength')">
                Please should be of 8 charactr</span
              > -->
            </span>
            <span
              *ngIf="
                registerationForm.hasError('notmatched') &&
                confirmPassword.valid
              "
              class="error-block"
            >
              password not matched
            </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input
              type="text"
              class="form-control error-block"
              formControlName="mobile"
            />
            <span
              *ngIf="!mobile.valid && (mobile.touched || userSubmitted)"
              class="error-block"
              >Please Provide mobile</span
            >
          </div>

          <div class="form-group col-12">
            <button type="submit  " class="btn btn-primary save">Save</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
